# Creating a feature matrix from a networkx graph

In this notebook we will look at a few ways to quickly create a feature matrix from a networkx graph.

In [8]:
import networkx as nx
import pandas as pd

graph = nx.read_gpickle('major_us_cities')
G = nx.Graph()
# nodes
for city in graph.node.keys():
    G.add_node(city,
               population = graph.node[city]['population'],
               location = graph.node[city]['location'])

# edges
for city_A in graph.edge.keys():
    for city_B in graph.edge[city_A].keys():
        G.add_edge(city_A, 
                   city_B, 
                   weight = graph.edge[city_A][city_B]['weight'])

## Node based features

In [9]:
G.nodes(data=True)

NodeDataView({'El Paso, TX': {'population': 674433, 'location': (-106, 31)}, 'Long Beach, CA': {'population': 469428, 'location': (-118, 33)}, 'Dallas, TX': {'population': 1257676, 'location': (-96, 32)}, 'Oakland, CA': {'population': 406253, 'location': (-122, 37)}, 'Albuquerque, NM': {'population': 556495, 'location': (-106, 35)}, 'Baltimore, MD': {'population': 622104, 'location': (-76, 39)}, 'Raleigh, NC': {'population': 431746, 'location': (-78, 35)}, 'Mesa, AZ': {'population': 457587, 'location': (-111, 33)}, 'Arlington, TX': {'population': 379577, 'location': (-97, 32)}, 'Sacramento, CA': {'population': 479686, 'location': (-121, 38)}, 'Wichita, KS': {'population': 386552, 'location': (-97, 37)}, 'Tucson, AZ': {'population': 526116, 'location': (-110, 32)}, 'Cleveland, OH': {'population': 390113, 'location': (-81, 41)}, 'Louisville/Jefferson County, KY': {'population': 609893, 'location': (-85, 38)}, 'San Jose, CA': {'population': 998537, 'location': (-121, 37)}, 'Oklahoma City, OK': {'population': 610613, 'location': (-97, 35)}, 'Atlanta, GA': {'population': 447841, 'location': (-84, 33)}, 'New Orleans, LA': {'population': 378715, 'location': (-90, 29)}, 'Miami, FL': {'population': 417650, 'location': (-80, 25)}, 'Fresno, CA': {'population': 509924, 'location': (-119, 36)}, 'Philadelphia, PA': {'population': 1553165, 'location': (-75, 39)}, 'Houston, TX': {'population': 2195914, 'location': (-95, 29)}, 'Boston, MA': {'population': 645966, 'location': (-71, 42)}, 'Kansas City, MO': {'population': 467007, 'location': (-94, 39)}, 'San Diego, CA': {'population': 1355896, 'location': (-117, 32)}, 'Chicago, IL': {'population': 2718782, 'location': (-87, 41)}, 'Charlotte, NC': {'population': 792862, 'location': (-80, 35)}, 'Washington D.C.': {'population': 646449, 'location': (-77, 38)}, 'San Antonio, TX': {'population': 1409019, 'location': (-98, 29)}, 'Phoenix, AZ': {'population': 1513367, 'location': (-112, 33)}, 'San Francisco, CA': {'population': 837442, 'location': (-122, 37)}, 'Memphis, TN': {'population': 653450, 'location': (-90, 35)}, 'Los Angeles, CA': {'population': 3884307, 'location': (-118, 34)}, 'New York, NY': {'population': 8405837, 'location': (-74, 40)}, 'Denver, CO': {'population': 649495, 'location': (-104, 39)}, 'Omaha, NE': {'population': 434353, 'location': (-95, 41)}, 'Seattle, WA': {'population': 652405, 'location': (-122, 47)}, 'Portland, OR': {'population': 609456, 'location': (-122, 45)}, 'Tulsa, OK': {'population': 398121, 'location': (-95, 36)}, 'Austin, TX': {'population': 885400, 'location': (-97, 30)}, 'Minneapolis, MN': {'population': 400070, 'location': (-93, 44)}, 'Colorado Springs, CO': {'population': 439886, 'location': (-104, 38)}, 'Fort Worth, TX': {'population': 792727, 'location': (-97, 32)}, 'Indianapolis, IN': {'population': 843393, 'location': (-86, 39)}, 'Las Vegas, NV': {'population': 603488, 'location': (-115, 36)}, 'Detroit, MI': {'population': 688701, 'location': (-83, 42)}, 'Nashville-Davidson, TN': {'population': 634464, 'location': (-86, 36)}, 'Milwaukee, WI': {'population': 599164, 'location': (-87, 43)}, 'Columbus, OH': {'population': 822553, 'location': (-82, 39)}, 'Virginia Beach, VA': {'population': 448479, 'location': (-75, 36)}, 'Jacksonville, FL': {'population': 842583, 'location': (-81, 30)}})

In [12]:
# Initialize the dataframe, using the nodes as the index
df = pd.DataFrame(index=G.nodes())

### Extracting attributes

Using `nx.get_node_attributes` it's easy to extract the node attributes in the graph into DataFrame columns.

In [13]:
df['location'] = pd.Series(nx.get_node_attributes(G, 'location'))
df['population'] = pd.Series(nx.get_node_attributes(G, 'population'))

df.head()

                   location  population
El Paso, TX      (-106, 31)      674433
Long Beach, CA   (-118, 33)      469428
Dallas, TX        (-96, 32)     1257676
Oakland, CA      (-122, 37)      406253
Albuquerque, NM  (-106, 35)      556495

### Creating node based features

Most of the networkx functions related to nodes return a dictionary, which can also easily be added to our dataframe.

In [14]:
df['clustering'] = pd.Series(nx.clustering(G))
df['degree'] = pd.Series(G.degree())

df

                                   location  population  clustering degree
El Paso, TX                      (-106, 31)      674433    0.700000    NaN
Long Beach, CA                   (-118, 33)      469428    0.745455    NaN
Dallas, TX                        (-96, 32)     1257676    0.763636    NaN
Oakland, CA                      (-122, 37)      406253    1.000000    NaN
Albuquerque, NM                  (-106, 35)      556495    0.523810    NaN
Baltimore, MD                     (-76, 39)      622104    0.800000    NaN
Raleigh, NC                       (-78, 35)      431746    0.615385    NaN
Mesa, AZ                         (-111, 33)      457587    0.750000    NaN
Arlington, TX                     (-97, 32)      379577    0.763636    NaN
Sacramento, CA                   (-121, 38)      479686    0.777778    NaN
Wichita, KS                       (-97, 37)      386552    0.622222    NaN
Tucson, AZ                       (-110, 32)      526116    0.750000    NaN
Cleveland, OH                     (-81, 41)      390113    0.659341    NaN
Louisville/Jefferson County, KY   (-85, 38)      609893    0.641026    NaN
San Jose, CA                     (-121, 37)      998537    1.000000    NaN
Oklahoma City, OK                 (-97, 35)      610613    0.636364    NaN
Atlanta, GA                       (-84, 33)      447841    0.611111    NaN
New Orleans, LA                   (-90, 29)      378715    0.607143    NaN
Miami, FL                         (-80, 25)      417650    0.000000    NaN
Fresno, CA                       (-119, 36)      509924    0.888889    NaN
Philadelphia, PA                  (-75, 39)     1553165    0.800000    NaN
Houston, TX                       (-95, 29)     2195914    0.861111    NaN
Boston, MA                        (-71, 42)      645966    1.000000    NaN
Kansas City, MO                   (-94, 39)      467007    0.472527    NaN
San Diego, CA                    (-117, 32)     1355896    0.745455    NaN
Chicago, IL                       (-87, 41)     2718782    0.618182    NaN
Charlotte, NC                     (-80, 35)      792862    0.636364    NaN
Washington D.C.                   (-77, 38)      646449    0.712121    NaN
San Antonio, TX                   (-98, 29)     1409019    1.000000    NaN
Phoenix, AZ                      (-112, 33)     1513367    0.694444    NaN
San Francisco, CA                (-122, 37)      837442    1.000000    NaN
Memphis, TN                       (-90, 35)      653450    0.494505    NaN
Los Angeles, CA                  (-118, 34)     3884307    0.745455    NaN
New York, NY                      (-74, 40)     8405837    0.833333    NaN
Denver, CO                       (-104, 39)      649495    0.666667    NaN
Omaha, NE                         (-95, 41)      434353    0.444444    NaN
Seattle, WA                      (-122, 47)      652405    0.000000    NaN
Portland, OR                     (-122, 45)      609456    0.000000    NaN
Tulsa, OK                         (-95, 36)      398121    0.727273    NaN
Austin, TX                        (-97, 30)      885400    0.892857    NaN
Minneapolis, MN                   (-93, 44)      400070    1.000000    NaN
Colorado Springs, CO             (-104, 38)      439886    0.466667    NaN
Fort Worth, TX                    (-97, 32)      792727    0.763636    NaN
Indianapolis, IN                  (-86, 39)      843393    0.641026    NaN
Las Vegas, NV                    (-115, 36)      603488    0.666667    NaN
Detroit, MI                       (-83, 42)      688701    0.672727    NaN
Nashville-Davidson, TN            (-86, 36)      634464    0.589744    NaN
Milwaukee, WI                     (-87, 43)      599164    0.666667    NaN
Columbus, OH                      (-82, 39)      822553    0.619048    NaN
Virginia Beach, VA                (-75, 36)      448479    0.861111    NaN
Jacksonville, FL                  (-81, 30)      842583    0.500000    NaN

# Edge based features

In [15]:
G.edges(data=True)

EdgeDataView([('El Paso, TX', 'Albuquerque, NM', {'weight': 367.88584356108345}), ('El Paso, TX', 'Mesa, AZ', {'weight': 536.256659972679}), ('El Paso, TX', 'Tucson, AZ', {'weight': 425.41386739988224}), ('El Paso, TX', 'Phoenix, AZ', {'weight': 558.7835703774161}), ('El Paso, TX', 'Colorado Springs, CO', {'weight': 797.7517116740046}), ('Long Beach, CA', 'Oakland, CA', {'weight': 579.5829987228403}), ('Long Beach, CA', 'Mesa, AZ', {'weight': 590.156204210031}), ('Long Beach, CA', 'Sacramento, CA', {'weight': 611.0649790490104}), ('Long Beach, CA', 'Tucson, AZ', {'weight': 698.6566667728368}), ('Long Beach, CA', 'San Jose, CA', {'weight': 518.2330606219175}), ('Long Beach, CA', 'Fresno, CA', {'weight': 360.4704577972272}), ('Long Beach, CA', 'San Diego, CA', {'weight': 151.45008247402757}), ('Long Beach, CA', 'Phoenix, AZ', {'weight': 567.4125390872786}), ('Long Beach, CA', 'San Francisco, CA', {'weight': 585.6985397766858}), ('Long Beach, CA', 'Los Angeles, CA', {'weight': 31.69419563651866}), ('Long Beach, CA', 'Las Vegas, NV', {'weight': 385.2597725411484}), ('Dallas, TX', 'Arlington, TX', {'weight': 29.425931317908415}), ('Dallas, TX', 'Wichita, KS', {'weight': 548.0572491959326}), ('Dallas, TX', 'Oklahoma City, OK', {'weight': 306.2597807397289}), ('Dallas, TX', 'New Orleans, LA', {'weight': 711.0141469371868}), ('Dallas, TX', 'Houston, TX', {'weight': 361.54185907832755}), ('Dallas, TX', 'Kansas City, MO', {'weight': 730.377587942699}), ('Dallas, TX', 'San Antonio, TX', {'weight': 406.0065656782324}), ('Dallas, TX', 'Memphis, TN', {'weight': 675.3316242841653}), ('Dallas, TX', 'Tulsa, OK', {'weight': 382.46410800205336}), ('Dallas, TX', 'Austin, TX', {'weight': 292.91146634693376}), ('Dallas, TX', 'Fort Worth, TX', {'weight': 49.93359898977102}), ('Oakland, CA', 'Sacramento, CA', {'weight': 109.82159793013636}), ('Oakland, CA', 'San Jose, CA', {'weight': 61.90292319070633}), ('Oakland, CA', 'Fresno, CA', {'weight': 250.2309725980516}), ('Oakland, CA', 'San Diego, CA', {'weight': 730.9953136286227}), ('Oakland, CA', 'San Francisco, CA', {'weight': 13.428080525235567}), ('Oakland, CA', 'Los Angeles, CA', {'weight': 552.3121684216721}), ('Oakland, CA', 'Las Vegas, NV', {'weight': 658.3408716278288}), ('Albuquerque, NM', 'Mesa, AZ', {'weight': 514.5675468665884}), ('Albuquerque, NM', 'Tucson, AZ', {'weight': 510.7965704802782}), ('Albuquerque, NM', 'Phoenix, AZ', {'weight': 534.0407586326625}), ('Albuquerque, NM', 'Denver, CO', {'weight': 536.4291827646916}), ('Albuquerque, NM', 'Colorado Springs, CO', {'weight': 445.6400042319895}), ('Albuquerque, NM', 'Las Vegas, NV', {'weight': 779.953416852203}), ('Baltimore, MD', 'Raleigh, NC', {'weight': 429.0122832219615}), ('Baltimore, MD', 'Cleveland, OH', {'weight': 495.1075478023953}), ('Baltimore, MD', 'Philadelphia, PA', {'weight': 144.0640481858552}), ('Baltimore, MD', 'Boston, MA', {'weight': 578.0875135253946}), ('Baltimore, MD', 'Charlotte, NC', {'weight': 586.2855475627688}), ('Baltimore, MD', 'Washington D.C.', {'weight': 56.16567491112449}), ('Baltimore, MD', 'New York, NY', {'weight': 272.38422181145063}), ('Baltimore, MD', 'Detroit, MI', {'weight': 637.6886783148906}), ('Baltimore, MD', 'Columbus, OH', {'weight': 551.5744271908803}), ('Baltimore, MD', 'Virginia Beach, VA', {'weight': 276.4842802839367}), ('Raleigh, NC', 'Cleveland, OH', {'weight': 688.6125090133806}), ('Raleigh, NC', 'Louisville/Jefferson County, KY', {'weight': 688.7073656910881}), ('Raleigh, NC', 'Atlanta, GA', {'weight': 571.2185028690484}), ('Raleigh, NC', 'Philadelphia, PA', {'weight': 554.7433742861185}), ('Raleigh, NC', 'Charlotte, NC', {'weight': 208.69979892270072}), ('Raleigh, NC', 'Washington D.C.', {'weight': 375.22530610803875}), ('Raleigh, NC', 'New York, NY', {'weight': 680.9077807661519}), ('Raleigh, NC', 'Indianapolis, IN', {'weight': 795.0096232862684}), ('Raleigh, NC', 'Nashville-Davidson, TN', {'weight': 733.3988290802547}), ('Raleigh, NC', 'Columbus, OH', {'weight': 601.698772359296}), ('Raleigh, NC', 'Virginia Beach, VA', {'weight': 266.37385856851193}), ('Raleigh, NC', 'Jacksonville, FL', {'weight': 667.2967757561717}), ('Mesa, AZ', 'Tucson, AZ', {'weight': 157.26017307785148}), ('Mesa, AZ', 'San Diego, CA', {'weight': 502.32635614606744}), ('Mesa, AZ', 'Phoenix, AZ', {'weight': 22.79553039579591}), ('Mesa, AZ', 'Los Angeles, CA', {'weight': 596.6944422568216}), ('Mesa, AZ', 'Las Vegas, NV', {'weight': 429.8988310173471}), ('Arlington, TX', 'Wichita, KS', {'weight': 550.8138003458517}), ('Arlington, TX', 'Oklahoma City, OK', {'weight': 305.89535561943643}), ('Arlington, TX', 'New Orleans, LA', {'weight': 735.8026229506348}), ('Arlington, TX', 'Houston, TX', {'weight': 369.5566420759369}), ('Arlington, TX', 'Kansas City, MO', {'weight': 742.8459954761595}), ('Arlington, TX', 'San Antonio, TX', {'weight': 390.8981857027806}), ('Arlington, TX', 'Memphis, TN', {'weight': 703.6616239985909}), ('Arlington, TX', 'Tulsa, OK', {'weight': 393.3587398321102}), ('Arlington, TX', 'Austin, TX', {'weight': 280.8343387749554}), ('Arlington, TX', 'Fort Worth, TX', {'weight': 20.930696675141498}), ('Sacramento, CA', 'San Jose, CA', {'weight': 142.37168354889943}), ('Sacramento, CA', 'Fresno, CA', {'weight': 253.9761318839872}), ('Sacramento, CA', 'San Diego, CA', {'weight': 760.0327691692984}), ('Sacramento, CA', 'San Francisco, CA', {'weight': 120.68134676034228}), ('Sacramento, CA', 'Los Angeles, CA', {'weight': 581.3180718925387}), ('Sacramento, CA', 'Portland, OR', {'weight': 777.4903265797615}), ('Sacramento, CA', 'Las Vegas, NV', {'weight': 621.6693471839634}), ('Wichita, KS', 'Oklahoma City, OK', {'weight': 247.36915356065145}), ('Wichita, KS', 'Kansas City, MO', {'weight': 286.7887192519942}), ('Wichita, KS', 'Memphis, TN', {'weight': 709.8334440883956}), ('Wichita, KS', 'Denver, CO', {'weight': 701.4183354835055}), ('Wichita, KS', 'Omaha, NE', {'weight': 412.2771985083082}), ('Wichita, KS', 'Tulsa, OK', {'weight': 208.1658493855318}), ('Wichita, KS', 'Colorado Springs, CO', {'weight': 665.1967107484711}), ('Wichita, KS', 'Fort Worth, TX', {'weight': 548.2249270170437}), ('Tucson, AZ', 'San Diego, CA', {'weight': 587.0077247254917}), ('Tucson, AZ', 'Phoenix, AZ', {'weight': 173.37868185485377}), ('Tucson, AZ', 'Los Angeles, CA', {'weight': 710.4231699340471}), ('Tucson, AZ', 'Las Vegas, NV', {'weight': 585.0709975647242}), ('Cleveland, OH', 'Louisville/Jefferson County, KY', {'weight': 500.1707647725783}), ('Cleveland, OH', 'Philadelphia, PA', {'weight': 575.9173040784142}), ('Cleveland, OH', 'Chicago, IL', {'weight': 494.246407377749}), ('Cleveland, OH', 'Charlotte, NC', {'weight': 700.9265025725867}), ('Cleveland, OH', 'Washington D.C.', {'weight': 488.9898877488932}), ('Cleveland, OH', 'New York, NY', {'weight': 649.4502672715655}), ('Cleveland, OH', 'Indianapolis, IN', {'weight': 422.649765785015}), ('Cleveland, OH', 'Detroit, MI', {'weight': 145.0420206213353}), ('Cleveland, OH', 'Nashville-Davidson, TN', {'weight': 738.354383567491}), ('Cleveland, OH', 'Milwaukee, WI', {'weight': 538.5642098043521}), ('Cleveland, OH', 'Columbus, OH', {'weight': 203.17328268011585}), ('Cleveland, OH', 'Virginia Beach, VA', {'weight': 713.1719915722457}), ('Louisville/Jefferson County, KY', 'Atlanta, GA', {'weight': 515.3935693632964}), ('Louisville/Jefferson County, KY', 'Kansas City, MO', {'weight': 770.6369007007506}), ('Louisville/Jefferson County, KY', 'Chicago, IL', {'weight': 433.14201586073085}), ('Louisville/Jefferson County, KY', 'Charlotte, NC', {'weight': 551.7938053643243}), ('Louisville/Jefferson County, KY', 'Washington D.C.', {'weight': 760.8391296292245}), ('Louisville/Jefferson County, KY', 'Memphis, TN', {'weight': 514.7054394176082}), ('Louisville/Jefferson County, KY', 'Indianapolis, IN', {'weight': 171.93402850524834}), ('Louisville/Jefferson County, KY', 'Detroit, MI', {'weight': 508.16604231921934}), ('Louisville/Jefferson County, KY', 'Nashville-Davidson, TN', {'weight': 249.27549074119767}), ('Louisville/Jefferson County, KY', 'Milwaukee, WI', {'weight': 561.8059932331587}), ('Louisville/Jefferson County, KY', 'Columbus, OH', {'weight': 304.39564005336484}), ('San Jose, CA', 'Fresno, CA', {'weight': 198.66400315450576}), ('San Jose, CA', 'San Diego, CA', {'weight': 669.6772910512424}), ('San Jose, CA', 'San Francisco, CA', {'weight': 67.53245690690382}), ('San Jose, CA', 'Los Angeles, CA', {'weight': 491.244577392781}), ('San Jose, CA', 'Las Vegas, NV', {'weight': 614.3930568650861}), ('Oklahoma City, OK', 'Houston, TX', {'weight': 665.217514913665}), ('Oklahoma City, OK', 'Kansas City, MO', {'weight': 479.91486422643885}), ('Oklahoma City, OK', 'San Antonio, TX', {'weight': 677.788567153514}), ('Oklahoma City, OK', 'Memphis, TN', {'weight': 677.9358508494545}), ('Oklahoma City, OK', 'Omaha, NE', {'weight': 656.2791186480706}), ('Oklahoma City, OK', 'Tulsa, OK', {'weight': 157.06950410857905}), ('Oklahoma City, OK', 'Austin, TX', {'weight': 578.2822601911338}), ('Oklahoma City, OK', 'Colorado Springs, CO', {'weight': 747.014568661214}), ('Oklahoma City, OK', 'Fort Worth, TX', {'weight': 301.86279118630887}), ('Atlanta, GA', 'New Orleans, LA', {'weight': 682.384954857707}), ('Atlanta, GA', 'Charlotte, NC', {'weight': 363.83612586974465}), ('Atlanta, GA', 'Memphis, TN', {'weight': 541.5047877131989}), ('Atlanta, GA', 'Indianapolis, IN', {'weight': 687.1751452631671}), ('Atlanta, GA', 'Nashville-Davidson, TN', {'weight': 345.6125153590445}), ('Atlanta, GA', 'Columbus, OH', {'weight': 701.2644982560505}), ('Atlanta, GA', 'Jacksonville, FL', {'weight': 458.65574177422604}), ('New Orleans, LA', 'Houston, TX', {'weight': 511.02384244889754}), ('New Orleans, LA', 'Memphis, TN', {'weight': 577.6842584479515}), ('New Orleans, LA', 'Austin, TX', {'weight': 738.1686404349225}), ('New Orleans, LA', 'Fort Worth, TX', {'weight': 755.8533393744848}), ('New Orleans, LA', 'Nashville-Davidson, TN', {'weight': 755.0752949754904}), ('Miami, FL', 'Jacksonville, FL', {'weight': 527.7797119911229}), ('Fresno, CA', 'San Diego, CA', {'weight': 507.4313769710358}), ('Fresno, CA', 'Phoenix, AZ', {'weight': 789.7484331199684}), ('Fresno, CA', 'San Francisco, CA', {'weight': 260.46960973345125}), ('Fresno, CA', 'Los Angeles, CA', {'weight': 329.89973534387246}), ('Fresno, CA', 'Las Vegas, NV', {'weight': 418.94992726715964}), ('Philadelphia, PA', 'Boston, MA', {'weight': 435.35607915456563}), ('Philadelphia, PA', 'Charlotte, NC', {'weight': 724.7428432701282}), ('Philadelphia, PA', 'Washington D.C.', {'weight': 198.24371380666594}), ('Philadelphia, PA', 'New York, NY', {'weight': 129.53654818016477}), ('Philadelphia, PA', 'Detroit, MI', {'weight': 710.1462898578072}), ('Philadelphia, PA', 'Columbus, OH', {'weight': 667.0538288622043}), ('Philadelphia, PA', 'Virginia Beach, VA', {'weight': 351.6415980651635}), ('Houston, TX', 'San Antonio, TX', {'weight': 304.1503947555647}), ('Houston, TX', 'Memphis, TN', {'weight': 779.1727315480448}), ('Houston, TX', 'Tulsa, OK', {'weight': 712.8495434682451}), ('Houston, TX', 'Austin, TX', {'weight': 235.1985112721572}), ('Houston, TX', 'Fort Worth, TX', {'weight': 381.3872407940769}), ('Boston, MA', 'Washington D.C.', {'weight': 633.2724255670316}), ('Boston, MA', 'New York, NY', {'weight': 305.91369197099885}), ('Boston, MA', 'Virginia Beach, VA', {'weight': 742.5833491609084}), ('Kansas City, MO', 'Chicago, IL', {'weight': 663.1871353165795}), ('Kansas City, MO', 'Memphis, TN', {'weight': 594.6054291939741}), ('Kansas City, MO', 'Omaha, NE', {'weight': 267.84598679216094}), ('Kansas City, MO', 'Tulsa, OK', {'weight': 350.19665468058116}), ('Kansas City, MO', 'Minneapolis, MN', {'weight': 662.1046217957743}), ('Kansas City, MO', 'Fort Worth, TX', {'weight': 747.1268740996313}), ('Kansas City, MO', 'Indianapolis, IN', {'weight': 726.2520742478256}), ('Kansas City, MO', 'Nashville-Davidson, TN', {'weight': 759.4820459793341}), ('Kansas City, MO', 'Milwaukee, WI', {'weight': 709.5921370123627}), ('San Diego, CA', 'Phoenix, AZ', {'weight': 480.550984974869}), ('San Diego, CA', 'San Francisco, CA', {'weight': 737.1473892523547}), ('San Diego, CA', 'Los Angeles, CA', {'weight': 179.29746717246732}), ('San Diego, CA', 'Las Vegas, NV', {'weight': 426.17584242277843}), ('Chicago, IL', 'Memphis, TN', {'weight': 776.6422940993197}), ('Chicago, IL', 'Omaha, NE', {'weight': 698.9473960021885}), ('Chicago, IL', 'Minneapolis, MN', {'weight': 570.2677332774025}), ('Chicago, IL', 'Indianapolis, IN', {'weight': 265.0916992417503}), ('Chicago, IL', 'Detroit, MI', {'weight': 381.2299668022458}), ('Chicago, IL', 'Nashville-Davidson, TN', {'weight': 639.3273291549567}), ('Chicago, IL', 'Milwaukee, WI', {'weight': 130.97175617954392}), ('Chicago, IL', 'Columbus, OH', {'weight': 443.294756640302}), ('Charlotte, NC', 'Washington D.C.', {'weight': 530.1200050223144}), ('Charlotte, NC', 'Indianapolis, IN', {'weight': 688.3846733430148}), ('Charlotte, NC', 'Nashville-Davidson, TN', {'weight': 545.8353443886101}), ('Charlotte, NC', 'Columbus, OH', {'weight': 559.2175271096321}), ('Charlotte, NC', 'Virginia Beach, VA', {'weight': 472.95036855569816}), ('Charlotte, NC', 'Jacksonville, FL', {'weight': 549.2112199489682}), ('Washington D.C.', 'New York, NY', {'weight': 327.37847523720734}), ('Washington D.C.', 'Indianapolis, IN', {'weight': 789.4034447188161}), ('Washington D.C.', 'Detroit, MI', {'weight': 633.5169854294026}), ('Washington D.C.', 'Columbus, OH', {'weight': 524.8211194461829}), ('Washington D.C.', 'Virginia Beach, VA', {'weight': 246.445149222362}), ('San Antonio, TX', 'Tulsa, OK', {'weight': 783.407957742418}), ('San Antonio, TX', 'Austin, TX', {'weight': 118.36314806535839}), ('San Antonio, TX', 'Fort Worth, TX', {'weight': 386.37486866810514}), ('Phoenix, AZ', 'Los Angeles, CA', {'weight': 573.9011736942347}), ('Phoenix, AZ', 'Las Vegas, NV', {'weight': 411.9094912462262}), ('San Francisco, CA', 'Los Angeles, CA', {'weight': 558.7708978607576}), ('San Francisco, CA', 'Las Vegas, NV', {'weight': 670.2380164875032}), ('Memphis, TN', 'Tulsa, OK', {'weight': 548.09611297848}), ('Memphis, TN', 'Fort Worth, TX', {'weight': 721.7845495553929}), ('Memphis, TN', 'Indianapolis, IN', {'weight': 617.295220276267}), ('Memphis, TN', 'Nashville-Davidson, TN', {'weight': 315.75011030810685}), ('Los Angeles, CA', 'Las Vegas, NV', {'weight': 367.37280090555305}), ('New York, NY', 'Detroit, MI', {'weight': 772.9011410671837}), ('New York, NY', 'Columbus, OH', {'weight': 765.9634514216572}), ('New York, NY', 'Virginia Beach, VA', {'weight': 461.65690712679395}), ('Denver, CO', 'Omaha, NE', {'weight': 777.8863249384502}), ('Denver, CO', 'Colorado Springs, CO', {'weight': 101.65075926223551}), ('Omaha, NE', 'Tulsa, OK', {'weight': 566.5584360997123}), ('Omaha, NE', 'Minneapolis, MN', {'weight': 469.53764600116483}), ('Omaha, NE', 'Colorado Springs, CO', {'weight': 796.8394903997096}), ('Omaha, NE', 'Milwaukee, WI', {'weight': 695.28556620892}), ('Seattle, WA', 'Portland, OR', {'weight': 232.98003496425403}), ('Tulsa, OK', 'Austin, TX', {'weight': 674.071176589555}), ('Tulsa, OK', 'Fort Worth, TX', {'weight': 397.0462555225492}), ('Austin, TX', 'Fort Worth, TX', {'weight': 279.2607716124542}), ('Minneapolis, MN', 'Milwaukee, WI', {'weight': 479.28775968088723}), ('Indianapolis, IN', 'Detroit, MI', {'weight': 386.1408406535182}), ('Indianapolis, IN', 'Nashville-Davidson, TN', {'weight': 404.3913216129687}), ('Indianapolis, IN', 'Milwaukee, WI', {'weight': 391.5388446310555}), ('Indianapolis, IN', 'Columbus, OH', {'weight': 270.3063479826381}), ('Detroit, MI', 'Milwaukee, WI', {'weight': 404.7034896583142}), ('Detroit, MI', 'Nashville-Davidson, TN', {'weight': 756.943864661379}), ('Detroit, MI', 'Columbus, OH', {'weight': 263.423764720247}), ('Nashville-Davidson, TN', 'Milwaukee, WI', {'weight': 770.1467064269982}), ('Nashville-Davidson, TN', 'Columbus, OH', {'weight': 536.2745483969072}), ('Milwaukee, WI', 'Columbus, OH', {'weight': 532.5684227398444}), ('Columbus, OH', 'Virginia Beach, VA', {'weight': 701.8766661783677})])

In [16]:
# Initialize the dataframe, using the edges as the index
df = pd.DataFrame(index=G.edges())

### Extracting attributes

Using `nx.get_edge_attributes`, it's easy to extract the edge attributes in the graph into DataFrame columns.

In [17]:
df['weight'] = pd.Series(nx.get_edge_attributes(G, 'weight'))

df

                                                 weight
El Paso, TX            Albuquerque, NM       367.885844
                       Mesa, AZ              536.256660
                       Tucson, AZ            425.413867
                       Phoenix, AZ           558.783570
                       Colorado Springs, CO  797.751712
...                                                 ...
Detroit, MI            Columbus, OH          263.423765
Nashville-Davidson, TN Milwaukee, WI         770.146706
                       Columbus, OH          536.274548
Milwaukee, WI          Columbus, OH          532.568423
Columbus, OH           Virginia Beach, VA    701.876666

[235 rows x 1 columns]

### Creating edge based features

Many of the networkx functions related to edges return a nested data structures. We can extract the relevant data using list comprehension.

In [18]:
df['preferential attachment'] = [i[2] for i in nx.preferential_attachment(G, df.index)]

df

                                                 weight  \
El Paso, TX            Albuquerque, NM       367.885844
                       Mesa, AZ              536.256660
                       Tucson, AZ            425.413867
                       Phoenix, AZ           558.783570
                       Colorado Springs, CO  797.751712
...                                                 ...
Detroit, MI            Columbus, OH          263.423765
Nashville-Davidson, TN Milwaukee, WI         770.146706
                       Columbus, OH          536.274548
Milwaukee, WI          Columbus, OH          532.568423
Columbus, OH           Virginia Beach, VA    701.876666

                                             preferential attachment
El Paso, TX            Albuquerque, NM                            35
                       Mesa, AZ                                   40
                       Tucson, AZ                                 40
                       Phoenix, AZ                                45
                       Colorado Springs, CO                       30
...                                                              ...
Detroit, MI            Columbus, OH                              165
Nashville-Davidson, TN Milwaukee, WI                             130
                       Columbus, OH                              195
Milwaukee, WI          Columbus, OH                              150
Columbus, OH           Virginia Beach, VA                        135

[235 rows x 2 columns]

In the case where the function expects two nodes to be passed in, we can map the index to a lamda function.

In [19]:
df['Common Neighbors'] = df.index.map(lambda city: len(list(nx.common_neighbors(G, city[0], city[1]))))

df

                                                 weight  \
El Paso, TX            Albuquerque, NM       367.885844
                       Mesa, AZ              536.256660
                       Tucson, AZ            425.413867
                       Phoenix, AZ           558.783570
                       Colorado Springs, CO  797.751712
...                                                 ...
Detroit, MI            Columbus, OH          263.423765
Nashville-Davidson, TN Milwaukee, WI         770.146706
                       Columbus, OH          536.274548
Milwaukee, WI          Columbus, OH          532.568423
Columbus, OH           Virginia Beach, VA    701.876666

                                             preferential attachment  \
El Paso, TX            Albuquerque, NM                            35
                       Mesa, AZ                                   40
                       Tucson, AZ                                 40
                       Phoenix, AZ                                45
                       Colorado Springs, CO                       30
...                                                              ...
Detroit, MI            Columbus, OH                              165
Nashville-Davidson, TN Milwaukee, WI                             130
                       Columbus, OH                              195
Milwaukee, WI          Columbus, OH                              150
Columbus, OH           Virginia Beach, VA                        135

                                             Common Neighbors
El Paso, TX            Albuquerque, NM                      4
                       Mesa, AZ                             3
                       Tucson, AZ                           3
                       Phoenix, AZ                          3
                       Colorado Springs, CO                 1
...                                                       ...
Detroit, MI            Columbus, OH                        10
Nashville-Davidson, TN Milwaukee, WI                        7
                       Columbus, OH                         9
Milwaukee, WI          Columbus, OH                         6
Columbus, OH           Virginia Beach, VA                   7

[235 rows x 3 columns]